<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <link href="{{ 'style.css' |  asset_url }}" rel="stylesheet">

    {{ content_for_header }}

    <script>
      if (window.location.pathname !== '/') {
        window.location.href = '/';
      }
    </script>
  </head>

  <body class="">
    <div class="comming-soon-area">
      <div class="comming-soon-wrap">
        <h1>
          Super <span class="shape1"><img src="{{ 'shape1.png' | asset_url}}" alt="" width="" height=""></span>
        </h1>
        <h2>Good Shot</h2>
        <h3>
          From Nature <span class="shape2"><img src="{{ 'shape3.png' | asset_url }}" width="" height="" alt=""></span>
        </h3>
      </div>
      <div class="right-shape">
        <img src="{{ 'shape2.png' | asset_url }}" alt="" width="" height="">
      </div>
    </div>

    {{ content_for_layout }}
  </body>
</html>
