<!-- features-area -->
<div class="features-area section-padding">
  <div class="container">
    <div class="features-wrap">
      <div class="title">
        <h2>{{ section.settings.title }}</h2>
      </div>
      <div class="row">
        {% for block in section.blocks %}
          <div class="col-lg-4 col-md-6 col-12">
            <div class="features-item">
              <div class="features-img">
                <img src="{{ block.settings.image |  image_url: width: 500  }}" width="" height="" alt="">
              </div>
              <div class="features-text">
                <h3>
                  <span><img src="{{ 'shape1.png' | asset_url }}" width="" height="" alt=""></span>
                  {{- block.settings.feature_title }}
                </h3>
                <p>
                  {{ block.settings.description }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="left-shape">
        <img
          src="{{ '80MG.png' | asset_url }}"
          width="90px"
          height="90px"
          alt=""
          class=""
        >
      </div>
      <div class="right-shape">
        <img
          src="{{ 'features-right.png' | asset_url }}"
          width=""
          height=""
          alt=""
        >
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Feature Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "IMMUNITY SUPPORT - GINGER SHOT"
    }
  ],
  "blocks": [
    {
      "name": "Slider",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "feature_title",
          "label": "Feature Title",
          "default": "GINGER"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Know for its antioxidant and anti-inflammatory properties. A natural energy booster and with digestion."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Section",
      "blocks": [
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
